.vs/
FlatEngine.sln
log_output.txt
Build/Intermediates
Build/windows-x86_64/Debug/FlatEngine-Core/FlatEngine-Core.idb
Build/windows-x86_64/Debug/FlatEngine-Core/FlatEngine-Core.lib
Build/windows-x86_64/Debug/FlatEngine-Core/FlatEngine-Core.pdb
Build/windows-x86_64/Debug/FlatEngine-Editor/FlatEngine-Editor.exe
Build/windows-x86_64/Debug/FlatEngine-Editor/FlatEngine-Editor.pdb
Build/windows-x86_64/Debug/FlatEngine-Runtime/FlatEngine-Runtime.exe
Build/windows-x86_64/Debug/FlatEngine-Runtime/FlatEngine-Runtime.pdb
Build/windows-x86_64/Release/FlatEngine-Core/FlatEngine-Core.idb
Build/windows-x86_64/Release/FlatEngine-Core/FlatEngine-Core.lib
Build/windows-x86_64/Release/FlatEngine-Core/FlatEngine-Core.pdb
Build/windows-x86_64/Release/FlatEngine-Editor/FlatEngine-Editor.exe
Build/windows-x86_64/Release/FlatEngine-Editor/FlatEngine-Editor.pdb
Build/windows-x86_64/Release/FlatEngine-Runtime/FlatEngine-Runtime.exe
Build/windows-x86_64/Release/FlatEngine-Runtime/FlatEngine-Runtime.pdb
engine/dev